@font-face {
    font-family: 'Figtree';
    src: url(../assets/fonts/static/Figtree-ExtraBold.ttf) format('truetype');
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Figtree';
    src: url(../assets/fonts/static/Figtree-Medium.ttf) format('truetype');
    font-style: normal;
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F4D04E;
    font-family: 'Figtree', sans-serif;
    line-height: 150%;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    max-width: 385px;
    max-height: 525px;
    background-color: #fff;
    border: 1px solid #000;
    filter: drop-shadow(8px 8px #000);
    border-radius: 20px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card__main{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.card__image {
    max-width: 100%;
    border-radius: 10px;
}

.card__category{
    padding: 0.25rem 0.75rem;
    background-color: #F4D04E;
    border-radius: 4px;
    width: fit-content;
}

h1 {
    font-size: 1.5rem;
}

h1, .card__category, .card__author__name{
    font-weight: 800;
}

.card__date, .card__content {
    font-weight: medium;
}

.card__content {
    color: #6B6B6B;
}

.card__author {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.card__author img{
    width: 32px;
}







footer{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.attribution {
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}