* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Figtree', Arial, sans-serif;
}

main {
    min-height: 80dvh;
    padding: 2rem;
}

.header-block {
    max-width: 1440px;
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid grey;
}

.buttons-block {
    display: flex;
    gap: 1rem;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.main-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

section {
    border: 1px solid black;
}


footer {
    text-align: center;
}