@font-face {
    font-family: Outfit;
    src: url('../fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Outfit;
    src: url('../fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: Outfit;
    src: url('../fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: YoungSerif;
    src: url('../fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Outfit, sans-serif;
    line-height: 150%;
}

img {
    width: 100%;
}

article {
    margin: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1,
h2:not(.prep-title) {
    font-family: YoungSerif, serif;
    margin-bottom: 1.5rem;
    font-weight: 400;
}

h2:not(.prep-title) {
    font-size: 1.75rem;
}

.prep {
    background-color: #FFF7FB;
    padding: 1.5rem;
}

.prep-title {
    color: #7A284E;
    margin-bottom: 1rem;
    font-weight: 600;
}

ol,
ul {
    margin-left: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
    padding-left: 1rem;
}

li::marker,
h2:not(.prep-title),
td {
    color: #854632;
}

span {
    font-weight: 700;
}

.border {
    background-color: #E3DDD7;
    width: 100%;
    height: 1px;
}


li,
p,
th {
    color: #5F564D;
}

table {
    width: 100%;
    margin-top: 1.5rem;
}

td,
th {
    border-bottom: 1px solid #E3DDD7;
    padding: 0.75rem 0;
}

tr:last-of-type td,
tr:last-of-type th {
    border-bottom: none;
    padding-bottom: 0;
}

th {
    font-weight: normal;
    text-align: left;
    padding-left: 2rem;
    width: 50%;
}

td {
    font-weight: 700;
}

table {
    border-collapse: collapse;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media screen and (min-width :750px) {
    article {
        max-width: 650px;
        margin: 0 auto 2.5rem;
        padding-top: 2.5rem;
    }

    body {
        background-color: #F3E5D7;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    main {
        background-color: #fff;
        padding: 2.5rem;
        max-width: 750px;
        margin: 5rem 2rem;
        border-radius: 40px;
    }

    img {
        border-radius: 12px;
    }

    h1 {
        font-size: 2.5rem;
    }
}